<%- include("../partials/header") %>

<div class="container">
  <div class="row justify-content-center">
    <form class="col-lg-6" action="/blogs/<%= blog[0].id %>?_method=PUT" method="POST">
      <h2 class="mb-4">Edit "<%= blog[0].title %>"</h2>
      <div class="form-group">
        <label for="title">Blog Title</label>
        <input id="title" name="title" class="form-control" value="<%= blog[0].title %>">
        <small class="form-text text-muted">What inspires you in the world?</small>
      </div>
      <div class="form-group">
        <label for="url">Image URL</label>
        <input id="url" name="url" class="form-control" value="<%= blog[0].image %>">
      </div>
      <div class="form-group">
        <label for="body">Blog Body</label>
        <textarea id="body" name="body" class="form-control" rows="4"><%= blog[0].body %></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Update blog</button>
      <a href="/blogs/<%= blog[0]._id %>" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</div>

<%- include("../partials/footer") %>
