<%- include("../partials/header") %>

<div class="container">
  <div class="row justify-content-center">
    <form class="col-lg-6" action="/blogs/<%= blog_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
      <h2 class="mb-4">Edit Comment</h2>
      <div class="form-group">
        <label for="body">Comment Body</label>
        <textarea id="body" name="body" class="form-control" rows="3"><%= comment.body %></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Update comment</button>
      <a href="/blogs/<%= blog_id %>" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</div>

<%- include("../partials/footer") %>
